{% extends "base.html" %}

{% block titulo %}  Sobre nosotros {% endblock %}

{% block contenido %} 

<div class="container-fluid p-2">
    <h2 class="text-center p-2">Acerca de esta tienda</h2>
    <!-- Sobre nosotros -->
    <p>
      ¡Bienvenidos a nuestra tienda de libros en línea! Somos un equipo de entusiastas de la lectura que se dedica
      a proporcionar una amplia variedad de títulos de alta calidad para nuestros clientes en todo el mundo.
    </p>
    <p>
      Nuestra tienda en línea se especializa en la venta de libros, desde bestsellers hasta clásicos literarios, 
      pasando por libros de no ficción y educativos. Además, nos enorgullece decir que ofrecemos una plataforma 
      fácil de usar y segura para que nuestros clientes puedan comprar, buscar y descubrir libros de manera eficiente.
    </p>
      <p>
      Nos aseguramos de que todos los libros que ofrecemos en nuestra tienda en línea sean de alta calidad y estén en excelente estado. 
      Trabajamos con los mejores editores y proveedores para garantizar que nuestros clientes siempre tengan acceso a lo mejor de lo mejor 
      en el mundo de la lectura.
    </p>
      <p>
      Nuestro equipo se esfuerza constantemente por mejorar la experiencia de compra en línea de nuestros clientes. Siempre estamos buscando 
      nuevas formas de mejorar nuestra plataforma y hacer que la búsqueda y compra de libros sea más fácil y agradable para nuestros clientes.
    </p>
    <h2>"Descubre un mundo de historias con nuestra tienda de libros en línea"</h2>
   <br>
    
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Líder de grupo
          <span class="badge bg-primary rounded-pill">1</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Programadores
          <span class="badge bg-primary rounded-pill">3</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Diseñadores
          <span class="badge bg-primary rounded-pill">1</span>
        </li>
      </ul>
      <br>
    <!-- INTEGRANTES -->
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card">
            <div class="h1 m-2 p-1">
                <i class="bi bi-person"></i>
            </div>
            <div class="card-body">
              <h5 class="card-title">Rodrigo Neftali Aguilar Uribe</h5>
              <p class="card-text">Lider del Grupo</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="h1 m-2 p-1">
                <i class="bi bi-person"></i>
            </div>
            <div class="card-body">
              <h5 class="card-title">Luis Felipe Quezada Quezada</h5>
              <p class="card-text">Programador</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="h1 m-2 p-1">
                <i class="bi bi-person"></i>
            </div>
            <div class="card-body">
              <h5 class="card-title">Salvador Arturo Manzur Rodriguez</h5>
              <p class="card-text">Programador</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="h1 m-2 p-1">
                <i class="bi bi-person"></i>
            </div>
            <div class="card-body">
              <h5 class="card-title">Josue Omar Ramirez Osorio</h5>
              <p class="card-text">Programador</p>
            </div>
          </div>
        </div>
       <div class="col">
            <div class="card">
              <div class="h1 m-2 p-1">
                  <i class="bi bi-person"></i>
              </div>
              <div class="card-body">
                <h5 class="card-title">Carlos Daniel Chinchilla Garcia</h5>
                <p class="card-text">Diseñador</p>
              </div>
            </div>
          </div>
      </div>    
</div>
{% endblock %}
    